:root {
    --background: #f1f3f6;
    --primary: #2874f0;
    --white: #ffffff;
   }



.products-container {
    background-color: var(--white) ;
    display: block;
    float: right;
    width: 80%;
    margin-right: 9px;
    margin-top: 9px;
    padding: 2rem;
    padding-right: 4rem;
}
.brand {
    color: gray;
    text-align: left;
    font-size: 15px;
    
}

.title {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    
   
}

.price {
    text-align: left;
    font-weight: bold;
    font-size: 15px;
}

.size {
    text-align: left;

}


.card {
    border-radius: 10px;
    box-shadow: #2874f0;
    /* background-color: bisque; */
    padding: 1rem;
    width: 100%;
    
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 2fr) ;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    padding: 10px;

  }
  .grid-item {
    /* background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 30px;

    text-align: center; */
  }

  .img {
      max-width: 100%;
      
  }